@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-family: var(--fontN);
}

#wrap {
    width: 100%;
}

#main {
    width: 100%;
    position: relative;
}

.container {
    width: 600px;
    margin: 0 auto;
    height: inherit;
    margin-top: 50px;
}

.login {
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.login .nav ul {
    margin-top: 70px;
}

.login .nav ul li {
    margin-bottom: 20px;
}

.login .nav ul li a {
    font-size: 30px;
    font-weight: 900;
    font-family: var(--fontN);
    color: #1a2b8a;
}

.login .idbox .input-style {
    margin-top: 50px;
    width: 400px;
    height: 60px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    border: none;
    font-family: var(--fontN);
    font-weight: 700;
    background-color: #e7e7e7;
}

.login .passbox .input-style {
    padding: 20px;
    margin-top: 20px;
    width: 400px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    border: none;
    font-family: var(--fontN);
    font-weight: 700;
    background-color: #e0e0e0;
}

.login .forget ul li {
    margin-top: 20px;
    right: 100px;
    position: absolute;
}

.login .forget ul li a {
    color: #4c60d1;
    font-size: 15px;
    font-family: var(--fontN);
    font-weight: 500;
}

.login .forget ul li a:hover {
    text-decoration: underline;
}

.login .signup {
    display: flex;
    margin-top: 20px;
    left: 100px;
    position: absolute;
}


.login .signup ul li a {
    font-size: 16px;
    color: #4c60d1;
    font-family: var(--fontN);
    font-weight: 500;
}

.login .signup ul li a:hover {
    text-decoration: underline;
}

.login .confirm ul {
    padding: 20px;
    margin-top: 80px;
    width: 400px;
    height: 60px;
    background-color: #5d73d4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}


.login .confirm ul li a {
    font-size: 16px;
    color: #fff;
    font-family: var(--fontN);
    font-weight: 800;
}


/* signup */
#signInForm {
    margin-top: 30px;
}

.Userbox {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
}

#signInForm div label {
    font-family: var(--fontN);
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
}

.check {
    width: 500px;
    height: 100px;
}

.check .input-style {
    width: 500px;
    height: 60px;
    padding: 20px;
    align-items: center;
    border: none;
    font-family: var(--fontN);
    font-weight: 700;
    margin-bottom: 50px;
    background-color: #e0e0e0;
}

.signup-btn {
    margin-top: 50px;
    color: #fff;
    width: 500px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #5d73d4;
    font-family: var(--fontN);
    font-weight: 600;
}